# fly.toml app configuration file generated for server-aged-lake-2049 on 2025-12-11T22:35:44-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'server-aged-lake-2049'
primary_region = 'ewr'

[build]
  dockerfile = "Dockerfile"
  buildpacks = []

[env]
  PORT = "8080"
  NODE_ENV = "production"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
